<p id="notice"><%= notice %></p>

<h1>Measures</h1>

<table>
  <thead>
    <tr>
      <th>Lat</th>
      <th>Lng</th>
      <th>Kind</th>
      <th>Color</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @measures.each do |measure| %>
      <tr>
        <td><%= measure.lat %></td>
        <td><%= measure.lng %></td>
        <td><%= measure.kind %></td>
        <td><%= measure.color %></td>
        <td><%= measure.value %></td>
        <td><%= link_to 'Show', measure %></td>
        <td><%= link_to 'Edit', edit_measure_path(measure) %></td>
        <td><%= link_to 'Destroy', measure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= high_chart_globals(@chart_globals) %>
<%= high_chart("some_id", @chart) %>

<%= link_to 'New Measure', new_measure_path %>
