<div class="container body">
  <div class="row">
    <div class="col-md-4">
      <img class="img-responsive" src="<%= image_path '1.png' %>" alt="">
      <a href="<%= instructions_path %>"><img class="img-responsive center-block icon" src="<%= image_path '1c.png' %>" alt=""></a>
    </div>
    <div class="col-md-4">
      <img class="img-responsive" src="<%= image_path '2.png' %>" alt="">
      <a href="<%= recommendations_path %>"><img class="img-responsive center-block icon" src="<%= image_path '2c.png' %>" alt=""></a>
    </div>
    <div class="col-md-4">
      <img class="img-responsive" src="<%= image_path '3.png' %>" alt="">
      <a href="<%= measures_path %>"><img class="img-responsive center-block icon" src="<%= image_path '3c.png' %>" alt=""></a>
    </div>
  </div>
</div>